#!/bin/bash

# This script runs the nextflow pipeline with the given parameters
nextflow run nf_pipeline.nf \
    --reads '/path/to/reads/ESIB_EQA_2023.SARS2_*.fastq.gz' \
    --primers '/absolute/path/to/primers/file.bed' \
    -config nextflow.config \
    -with-report report.html \
    -with-dag flowchart-raw.png \
    -resume
