/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/
profile {
    docker {
        container = 'nf_nanopore_sars-3.0-main:latest'
    }
}